@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

h1, body, content {
  font-family: 'PT Serif', serif;
}

.formlabels {
  font-weight: 300;
}

.navbar-default {
  background-color: #286090;
  background-image: none;
  background-repeat: no-repeat;
  font-family: 'PT Serif', serif;
}

.navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /*color: #000;*/ /*Sets the text hover color on navbar*/
    color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
        a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #859ec6;
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

#loading {
	position: absolute;
	left: 50%;
	top: 50%;
    margin-top: -75px;
    margin-left: -75px;
	z-index: 1;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[type=file] {
    margin: 0 auto;
}

input[type=submit] {
    padding:5px 15px; 
    color: #FFFFFF; 
    background-color: #2073B3; 
    border-color: #130269; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.custom-button { 
  color: #FFFFFF; 
  background-color: #202FB3; 
  border-color: #130269; 
} 
 
.custom-button:hover, 
.custom-button:focus, 
.custom-button:active, 
.custom-button.active, 
.open .dropdown-toggle.custom-button { 
  color: #FFFFFF; 
  background-color: #2073B3; 
  border-color: #130269; 
} 
 
.custom-button:active, 
.custom-button.active, 
.open .dropdown-toggle.custom-button { 
  background-image: none; 
} 
 
.custom-button.disabled, 
.custom-button[disabled], 
fieldset[disabled] .custom-button, 
.custom-button.disabled:hover, 
.custom-button[disabled]:hover, 
fieldset[disabled] .custom-button:hover, 
.custom-button.disabled:focus, 
.custom-button[disabled]:focus, 
fieldset[disabled] .custom-button:focus, 
.custom-button.disabled:active, 
.custom-button[disabled]:active, 
fieldset[disabled] .custom-button:active, 
.custom-button.disabled.active, 
.custom-button[disabled].active, 
fieldset[disabled] .custom-button.active { 
  background-color: #202FB3; 
  border-color: #130269; 
} 
 
.custom-button .badge { 
  color: #202FB3; 
  background-color: #FFFFFF; 
}

.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
 
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}