{% extends "base.html" %}

{% block app_content %}

<body>
	<div id="loading" style="display:none;"></div>
	<div id="content">
		<h1>Upload PDF File</h1>
		<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<p>{{ form.file_upload }}</p>
			<p>
				{{  form.page_range.label }}<br>
				{{  form.page_range }}
			</p>
			<p>
				{{ form.multiple_tables() }} {{ form.multiple_tables.label }}<br>
			</p>
			<p><input type="submit" value="Upload" class="custom-button" onclick="loading();"></p>
		</form>
	</div>
</body>

<script type="text/javascript">
	function loading() {
		$('#loading').show();
		$("#content").hide();
	}
</script>

{% endblock %}
	
