{% extends "base.html" %}

<!-- <script>
	$(function() {
		$('#download-file-btn').click(function() {
			$.ajax({
				type: 'POST',
				url: '/download',
				data: JSON.stringify(dnamelist),
				// data: form_data,
				contentType: false,
				cache: false,
				processData: false,
				async: false,
				// url: "/download",
				contentType: 'application/json',
				success: function(data) {
					console.log('Success!');
					console.log(data);
				},
				error: function(error) {
					console.log("Failure!");
					console.log(error);
				}
		});
	}
</script> -->

{% block app_content %}

{% for dataframe in data %}
      <p>{{ dataframe | safe }} </p>
{% endfor %}

<!-- {{ data | safe }} -->

{{ filename }}

{% for dname in dnamelist %}
	<p>{{ dname | safe }}</p>
{% endfor %}

{{ dnamelist | safe }}

<!-- {{ dnamelist }} -->

<form id="download-form" action="{{ url_for('download') }}" method="post">
	<input type="hidden" id="filename" name="filename" value="{{ dnamelist | safe }}">
	<input type="submit" class="custom-button" value="Download">
</form>

{% endblock %}
