{% extends "base.html" %}

{% block app_content %}

<head>
	<link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='slick/slick/slick.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slick/slick/slick-theme.css')}}"/>
    <style>
    	.slick-prev:before, .slick-next:before {
    		color: black !important;
    	}

		.dfs div {
			width: 75%;
			margin: 0 auto;
		}    

		.display-df table {
			margin: 0 auto;
		}	
	</style>
</head>

<body>
	<div class="dfs">
		{% for dataframe, dname in tables %}
		      <div id="display-df", name="display-df">
		      	{{ dname | safe }}
		      	{{ dataframe | safe }}
		      </div>
		{% endfor %}
	</div>

	<form id="download-form" action="{{ url_for('download') }}" method="post">
		<input type="hidden" id="filename" name="filename" value="{{ dnames | safe }}">
		<input type="submit" class="btn btn-primary btn-block" value="Download All Files as CSV">
	</form>

	{% block scripts %}
		{{ super() }}
		<script type="text/javascript" src="{{url_for('static', filename='slick/slick/slick.min.js')}}"></script>

		<script type="text/javascript">
			function initializeSlider() {
				$('.dfs').not('.slick-initialized').slick({
					dots: true,
					infinite: true,
					speed: 350,
					arrows: true, 
					slidesToShow: 1,
					adaptiveHeight: true,
					centerMode: true,
					centerPadding: '0px'
				});
			}

			initializeSlider();

			$(window).on( 'resize', initializeSlider );
		</script>
	{% endblock %}

</body>

{% endblock %}
